/* 3. banner */
.banner-img {
    position: relative;
    & img{
        width:100%;
    }
}
.banner-text {
	position: absolute;
	top: 50%;
	right: 20px;
	text-align: center;
	left: 20px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: 0;
}
.banner-wrapper:hover .banner-text{opacity: 1;transform: translateY(-50%);}
.banner-inner {
	padding: 20px 70px;
	background: #fff;
    display: inline-block;
    & h2{
        color: #222;
        font-size: 30px;
        margin-bottom: 0;
        transition: .3s;
        font-weight: 500;
        &:hover{color:$theme-color;}
    }
}
.banner-2-img a img{width:100%;}

// instagram
.instagram-single{position: relative;}
.instagram-conent{
        background: #222;
        padding: 18px 40px;
        position: absolute;
        top: 50%;
        z-index: 99;
        left: 39%;
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    & h4{
        font-size: 20px;
        font-weight: 500;
        color: $white;
        margin-bottom: 0;
    }
}
.instagram-menu{
    & ul{
        & li{
            display: inline-block;
            & a{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                padding: 0 16px;
                transition: .3s;
                &:hover{color:$theme-color;}
            }
        }
    }
}