/* 9. footer */
.footer-wrapper {
	overflow: hidden;
}
.footer-title {
	font-size: 20px;
	font-weight: 500;
    margin-bottom: 12px;
    text-transform: capitalize;
}
.footer-menu{
    & li{
        padding-bottom: 4px;
        &:last-child{padding-bottom: 0;}
        & a{
            font-weight: 400;
            font-size: 13px;
            color:$body-text-color;
            transition: .3s;
            text-transform: capitalize;
            &:hover{color:$theme-color;}
        }
    }
}
.footer-2-menu li{
    float: left;
    width:50%;
}
.footer-link{
    & li{
        font-weight: 400;
        font-size: 13px;
        color: #666666;
        line-height: 1.8;
        padding-bottom: 7px;
        &:last-child{padding-bottom: 0;}
    }
}
.copyright p{
        margin-bottom: 0;
        color: #878787;
        & a{
            color:$theme-color;
        }
    }
    .footer-wrapper .newsletters-form button {
        font-size: 18px;
        text-transform: capitalize;
    }
    .footer-wrapper .newsletters-form form input {
        font-size: 16px;
        height: 38px;
    }
    .footer-wrapper .newsletters-form form input::placeholder {
        font-size: 16px;
    }
    .footer-wrapper .newsletters-form form::-moz-placeholder {
        font-size: 16px;
    }
    .footer-2-bottom{border-top:1px solid #cccccc;}
    .footer-nfo p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-text p {
        margin-bottom: 0;
        padding-right: 25px;
        margin-top: 22px;
    }
    .newsletters-2-form {
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
    }
    .newsletters-2-form form input {
        height: 50px;
        color: #666666;
        font-size: 14px;
        width: 100%;
        font-weight: 400;
        float: left;
        border: 0;
        position: relative;
        padding: 0 30px;
        background: #ffff;
        border-radius: 30px;
    }
      .newsletters-2-form form input::placeholder {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
      }
      .newsletters-2-form form::-moz-placeholder {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
      }
      .newsletters-2-form button {
        position: absolute;
        right: 20px;
        top: 12px;
        background: none;
        border: none;
        color: #222222;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
        &:hover{color:$theme-color;}
    }
    .footer-info-2{
        margin-bottom: 20px;
        & h2{
            font-size: 30px;
            font-weight: 500;
        }
        & p{
            margin-bottom: 0;
        }
    }
    .footer-2-text p {
        font-size: 13px;
        margin-bottom: 0;
        margin-top: 12px;
    }
    .footer-icon{
        margin-top:20px;
       & a {
            color: #666666;
            font-size: 14px;
            display: inline-block;
            text-align: center;
            transition: .3s;
            padding: 0 5px;
            &:hover{color:$theme-color;}
        }
    }
